body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 10px 150px;
}

#app {
  display: grid;
  grid-template-rows: 100px;
  grid-auto-rows: minmax(150px, auto);
  background: #393e4d;
  color: #f0d43a;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;

  padding: 20px;
}

div.holder.headline {
  display: flex;
  justify-content: center;
  font-size: 50px;
  height: 80px;
}
.title {
  font-size: 27px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: aliceblue;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

button {
  width: 423px;
  height: 40px;
  background: #000000;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 0px 0px 4px 2px #1f2107;
  display: block;
  cursor: pointer;
}
h1 {
  font-size: 36px;
}

textarea {
  background: aliceblue;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
